{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'  href="{% static 'result.css' %}">
    <script type="text/javascript">
        window.history.forward();
          function noBack(){
            window.history.forward()
        }
    </script>
</head>
<body>
    <div id="atags">
        <div id="wrapper">
        {% if user.is_authenticated %}
        <div id="a1">
        {% if request.user.is_superuser %}
        <a href="{% url 'result' %}">Result</a>
        {% endif %}
        </div>
        <div id="a2">
        <a href="{% url 'logout' %}">Log Out</a>
        </div>
        </div>
        </div>
    <div id = "thanks">
    <h1>Thanks For Your Vote</h1>
    </div>
</body>
</html>